<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Abc.OnlineBL.DataStore.Properties.Settings.ABC_BETAConnectionString"
            connectionString="Data Source=DBSERVER;Initial Catalog=ABC_BETA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Abc.OnlineBL.DataStore.Properties.Settings.ABC_BETAConnectionString1"
            connectionString="Data Source=dbserver;Initial Catalog=ABC_BETA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Abc.OnlineBL.DataStore.Properties.Settings.ABC_BETAConnectionString2"
            connectionString="Data Source=SQLCL;Initial Catalog=ABC_BETA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Abc.OnlineBL.DataStore.Properties.Settings.ABC_BETAConnectionString3"
            connectionString="Data Source=DBSERVER;Initial Catalog=ABC_BETA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Abc.OnlineBL.DataStore.Properties.Settings.ABC_BETAConnectionString4"
            connectionString="Data Source=SQLCL2008;Initial Catalog=ABC_BETA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Abc.OnlineBL.DataStore.Properties.Settings.ABC_BETAConnectionString5"
            connectionString="Data Source=ABCSQL3;Initial Catalog=ABC_BETA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
