<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="abcSettings" type="Abc.OnlineBL.Utility.Configuration.AbcConfigSectionHandler,Abc.OnlineBL.Utility" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <abcSettings activeProfile="ABC_BETA" xmlns="http://www.photosigns.com.au/AbcSettings.xsd">
    <!-- SPECIFY ACTIVE  PROFILE NAME HERE (ABC, NZ, ABC_BETA, NZ_BETA) -->
    <!-- COMMON SECTION -->
    <profile name="Common">
      <add key="SEND_ERROR_MESSAGE_TO" value="errors@photosigns.com.au" />
      <add key="SMTP_SERVER" value="mail" />
      <add key="AIS_IMPERSONATE_ENABLED" value="False" />
      <add key="AIS_IMPERSONATE_USERNAME" value="myabc" encrypted="False" />
      <add key="AIS_IMPERSONATE_PASSWORD" value="wh0am1" encrypted="False" />
      <add key="AIS_ENDPOINT_PREFIX" value="basic" />
    </profile>
    <!-- END OF COMMON SECTION -->
    <!-- ABC SECTION -->
    <profile name="ABC">
      <add key="IS_NZ" value="false"/>
      <add key="SMTP_SERVER" value="mail"/>
      <add key="DB_CONN" value="Data Source=DbServer;Initial Catalog=ABCDB;Integrated Security=True"/>
      <add key="VFS_ROOT_URL" value="http://localhost/Abc.OnlineBL.VirtualFileSystemProvider/FileService.asmx"/>
      <add key="AOP_TEMPLATE_ROOT_DIR" value="\\diyserver.photosigns.local.au\DocumentsRoot"/>
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="RED_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="GRAPHICS_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="IMAGING_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="OTHERS_DOCUMENT_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="AOP_IMAGE_OUTPUT_DIR" value="\\mercury\Imaging\Images"/>
      <add key="AOP_IMAGE_OUTPUT_DIR_STRUCTURE" value="Hundred"/>
      <add key="XML_XPATH_MAPPING_FILE" value="\\mercury\Programs\Applications\Configuration\InDesignHelper\Config\Mapping.xml"/>
      <add key="XML_ORDER_DIR_IS_STRUCTURED" value="false"/>
      <add key="XML_ORDER_DIR" value="\\mercury\Int_E_Mail\Orders\xml"/>
      <add key="AOP_DOC_OUTPUT_DIR" value="\\diyserver.photosigns.local.au\DocumentsRoot\CompletedJobs"/>
      <add key="AOP_DOC_OUTPUT_DIR_STRUCTURE" value="JobId"/>
      <add key="APPROVED_DOC_DIR" value="\\mercury\Layout"/>
      <add key="APPROVED_DOC_DIR_STRUCTURE" value="Hundred"/>
      <add key="PROOF_DIR" value="\\mercury\ABCFiles\PDF-Proofs"/>
      <add key="PROOF_DIR_STRUCTURE" value="Flat"/>
      <add key="PROOF_IMAGE_DIR" value="\\mercury\ABCFiles\JPG-Proofs"/>
      <add key="GOOGLE_KEY" value="ABQIAAAAi5S6yrBjAPkM6_J34pL0pxSh2vzl1WFzKu1JySuXycQHqx24fBQA3wLxz8X-N6q33PuH7pjiXp5Qqw"/>
      <add key="ONLINE_ORDER_EMAIL_INCLUDE" value="\\mercury\ABCFiles\OnlineOrder\IncludeFiles\OnlineOrderEmailIncludeAU.html"/>
      <add key="SPOT_ORDER_FILE_DIR" value="\\mercury\AbcFiles\Spotlights"/>
      <add key="SMS_ON_DEMAND_PRODUCT_ID" value="2135"/>
      <add key="MMS_ON_DEMAND_PRODUCT_ID" value="2529"/>
      <add key="STOCK_BOARD_SMS_ON_DEMAND_PRODUCT_ID" value="2551"/>
      <add key="STOCK_BOARD_MMS_ON_DEMAND_PRODUCT_ID" value="2552"/>
      <add key="ERECTION_FEE_PRODUCT_ID" value="1534"/>
      <add key="ERECTION_FEE_AMOUNT" value="70"/>
      <add key="INDD_TEMPLATES_DIR" value="\\mercury\Templates"/>
      <add key="ORDER_FILE_DIR" value="\\mercury\Int_E_Mail\Orders"/>
      <add key="PROOF_WEB_SITE_URL" value="http://www.photosigns.com.au/Proofs/ViewProof.aspx"/>
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO TEXT - GREEN"/>
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO TEXT - GREY"/>
      <add key="RED_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING"/>
      <add key="UPLOAD_TEXT_DETAILS_DIR" value="\\mercury\Text"/>
      <add key="SEND_PHOTO_ORDER_TO" value="reception@photosigns.com.au"/>
      <add key="SEND_STOCKBOARD_ORDER_TO" value="stockboards@photosigns.com.au"/>
      <add key="PRODUCT_FILES_DIR_TEMP" value="\\mercury\ABCFiles\ProductDescriptions\TempProducts"/>
      <add key="PRODUCT_FILES_DIR" value="\\mercury\ABCFiles\ProductDescriptions\Products"/>
      <add key="PRODUCT_GROUP_FILES_DIR_TEMP" value="\\mercury\ABCFiles\ProductDescriptions\TempGroups"/>
      <add key="PRODUCT_GROUP_FILES_DIR" value="\\mercury\ABCFiles\ProductDescriptions\Groups"/>
      <add key="AOP_WORKING_DIR" value="\\mercury\ABCFiles\DIY"/>
      <add key="PHOTO_DIR" value="\\ABC-VEEAM\Photosigns-Images\PhotographyImages\"/>
      <add key="PICKING_SLIP_SORT_DIR" value="\\mercury\Sorting\OneRes"/>
      <add key="INSTALLATION_FILE_PATH" value="\\mercury\Int_E_Mail\InstallationFile"/>
      <add key="PHOTOGRAPHY_UPLOAD_FILE_PATH" value="\\mercury\Int_E_Mail\PhotographyFile"/>
      <add key="INSTRUCTION_UPLOAD_FILE_PATH" value="\\mercury\Int_E_Mail\InstructionFile"/>
      <add key="ARTWORK_PDF_UPLOAD_FOLDER" value="\\mercury\Layout\Artwork"/>
      <add key="GST" value="1.1"/>
      <add key="EMAIL_NOTIFICATION_FROM" value="notifications@photosigns.com.au"/>
      <add key="AOP_WORKING_DIR_MODIFY_ORDER" value="\\mercury\ABCFiles\DIY\MODIFY"/>
      <add key="AOP_WORKING_DIR_MODIFY_ORDER_COMPLETED" value="\\mercury\ABCFiles\DIY\CompletedJobs"/>
      <add key="SOLAR_PANEL_PRODUCT_ID" value="9065"/>
      <add key="UPGRADE_PRODUCT_ID" value="7398"/>
      <!---Dusk Photography Product-->
      <add key="DUSK_OVERLAY_PRODUCT_ID" value="9351"/>
      <add key="DUSK_OVERLAY_PRODUCT_PRICE" value="95"/>
      <!---Drone Photography Product-->
      <add key="DRONE_PHOTOGRAPHY_PRODUCT_ID" value="9797"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_ID" value="9798"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_NAME" value="Add overlay to 1 image ($50)"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_PRICE" value="50"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_ID" value="9799"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_NAME" value="Add overlay to 2 images ($90)"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_PRICE" value="90"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_ID" value="9800"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_NAME" value="Add overlay to 3 images ($120)"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_PRICE" value="120"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_ID" value="9801"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_NAME" value="Add overlay to 4 images ($150)"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_PRICE" value="150"/>
      <add key="DRONE_PHOTOGRAPHY_CHIEF_PILOT_ID" value="133"/>
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_ID" value="781"/>
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_PRICE" value="75"/>
      <add key="SITEPLAN_OVERLAY_PHOTOGRAPHY_PRODUCT_ID" value="9862"/>
      <add key="PLATINUM_PHOTOGRAPHER_ID" value="106"/>
      <add key="SITEPLAN_PRODUCT_IDS" value="7878"/>
      <add key="NAMEPLATES_PRODUCT_IDS" value="8191,8198,9311,11840,11861,13677,13740,13741,14703,14702,14705,14704,14760,14761,14764,14765,14834,14851,14852,14908"/>
      <add key="UNITSTICKER_PRODUCT_IDS" value="10224,11838,11963,12235,12235,14025"/>
      <add key="MUDMAP_REDRAW_PRODUCT_IDS" value="7878,4634"/>
      <add key="OVERLAY_POINTS_PRODUCT_IDS" value="3595,5437,9097,11860"/>
      <add key="OVERLAY_THREE_ICONS_PRODUCT_IDS" value="6754,11813,11965"/>
      <add key="OVERLAY_INFO_PRODUCT_IDS" value="3872,3873,9312,12681,14158,14159"/>
      <add key="OVERLAY_PROPERTY_ADDRESS_IDS" value="12663"/>
      <add key="INSTALLATION_EXTENSION_STOCK_BOARD_PRODUCT_ID" value="12175"/>
      <add key="INSTALLATION_EXTENSION_TEXT_PHOTO_BOARD_PRODUCT_ID" value="12176"/>
      <add key="VIC_STANDARD_PRODUCT_PRICING_ID" value="119"/>
      <add key="ABC_LISTING_DIR" value="\\mercury\abcfiles\FTP\Listings\ABC"/>
      <add key="AUGMENT_PHOTOGRAPHY_PRODUCT_ID" value="14603"/>
      <add key="DESIGN_TEMPLATE_DOCUMENT_DIR" value="\\diyserver.photosigns.local.au\DesignDocuments"/>
      <add key="VIRTUAL_WALK_THROUGH_RENEWAL_PRODUCT_ID" value="16405" />
      <add key="DELIVERY_ZONE_1_PRODUCT_ID" value="15469" />
      <add key="DELIVERY_ZONE_2_PRODUCT_ID" value="18602" />
    </profile>
    <!-- END OF ABC SECTION -->
    <!-- NZ SECTION -->
    <profile name="NZ">
      <add key="IS_NZ" value="true" />
      <add key="SMTP_SERVER" value="mail" />
      <add key="DB_CONN" value="Data Source=nzsql2;Initial Catalog=ABCNZ;Integrated Security=True" />
      <add key="VFS_ROOT_URL" value="http://localhost/Abc.AIS.VirtualFileSystemProvider/FileService.asmx" />
      <add key="AOP_TEMPLATE_ROOT_DIR" value="\\192.168.1.2\AbcNzFiles\DocumentsRootNZ" />
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="RED_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="GRAPHICS_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="IMAGING_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="OTHERS_DOCUMENT_OUTPUT_FOLDER" value="\\Mercury\AbcNzFiles\Uploads" />
      <add key="AOP_IMAGE_OUTPUT_DIR" value="\\mercury\IND_Imaging\Images" />
      <add key="AOP_IMAGE_OUTPUT_DIR_STRUCTURE" value="Hundred" />
      <add key="XML_XPATH_MAPPING_FILE" value="\\mercury\Programs\Applications\Configuration\InDesignHelper\Config\Mapping.xml" />
      <add key="XML_ORDER_DIR_IS_STRUCTURED" value="false" />
      <add key="XML_ORDER_DIR" value="\\mercury\Text\EMAIL Email TXT\Xml" />
      <add key="AOP_DOC_OUTPUT_DIR" value="\\192.168.1.86\DocumentsRootNZ\CompletedJobs" />
      <add key="AOP_DOC_OUTPUT_DIR_STRUCTURE" value="JobId" />
      <add key="APPROVED_DOC_DIR" value="\\mercury\Layouts" />
      <add key="APPROVED_DOC_DIR_STRUCTURE" value="Hundred" />
      <add key="PROOF_DIR" value="\\192.168.1.74\pdfs\" />
      <add key="PROOF_DIR_STRUCTURE" value="Flat" />
      <add key="GOOGLE_KEY" value="ABQIAAAAi5S6yrBjAPkM6_J34pL0pxQG8Ixu0z6zeViXmW63J5Zo895CBRRy6VHqBLRafhluRu0cCGYd-OeCXQ" />
      <add key="ONLINE_ORDER_EMAIL_INCLUDE" value="\\mercury\ABCFiles\OnlineOrder\IncludeFiles\OnlineOrderEmailIncludeNZ.html" />
      <add key="SPOT_ORDER_FILE_DIR" value="\\Mercury\AbcNzFiles\Spotlights" />
      <add key="SMS_ON_DEMAND_PRODUCT_ID" value="1693" />
      <add key="MMS_ON_DEMAND_PRODUCT_ID" value="1693" />
      <add key="STOCK_BOARD_SMS_ON_DEMAND_PRODUCT_ID" value="0" />
      <add key="STOCK_BOARD_MMS_ON_DEMAND_PRODUCT_ID" value="0" />
      <add key="ERECTION_FEE_PRODUCT_ID" value="1220" />
      <add key="ERECTION_FEE_AMOUNT" value="70" />
      <add key="INDD_TEMPLATES_DIR" value="" />
      <add key="ORDER_FILE_DIR" value="\\mercury\Text\EMAIL Email TXT\" />
      <add key="PROOF_WEB_SITE_URL" value="http://116.199.210.114/Proofs/ViewProof.aspx" />
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING" />
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING" />
      <add key="RED_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING" />
      <add key="UPLOAD_TEXT_DETAILS_DIR" value="\\Mercury\ABCNZFiles\Text" />
      <add key="SEND_PHOTO_ORDER_TO" value="abc@photosigns.co.nz" />
      <add key="SEND_STOCKBOARD_ORDER_TO" value="abc@photosigns.co.nz" />
      <add key="PRODUCT_FILES_DIR_TEMP" value="\\mercury\Transfer\4 Kenny\Uploaded Images\TempImages" />
      <add key="PRODUCT_FILES_DIR" value="\\mercury\Transfer\4 Kenny\Uploaded Images\TempImages" />
      <add key="PRODUCT_GROUP_FILES_DIR_TEMP" value="\\mercury\Transfer\4 Kenny\Uploaded Images\TempGroupImages" />
      <add key="PRODUCT_GROUP_FILES_DIR" value="\\mercury\Transfer\4 Kenny\Uploaded Images\TempGroupImages" />
      <add key="AOP_WORKING_DIR" value="\\Mercury\ABCNZFiles\NZDIY" />
      <add key="PHOTO_DIR" value="\\mercury\Transfer\PhotographyImages\" />
      <add key="PICKING_SLIP_SORT_DIR" value="\\Mercury\Sorting\OneRes" />
      <add key="INSTALLATION_FILE_PATH" value="\\Mercury\ABCNZFiles\InstallationFile" />
      <add key="ARTWORK_PDF_UPLOAD_FOLDER" value="\\mercury\Layouts\Artwork" />
      <add key="GST" value="1.15" />
      <add key="EMAIL_NOTIFICATION_FROM" value="notifications@photosigns.co.nz" />
      <add key="AOP_WORKING_DIR_MODIFY_ORDER" value="\\mercury\Transfer\DIY\MODIFY" />
      <add key="AOP_WORKING_DIR_MODIFY_ORDER_COMPLETED" value="\\mercury\Transfer\DIY\CompletedJobs" />
    </profile>
    <!-- END OF NZ SECTION -->
    <!-- BETA FOR ABC SECTION -->
    <profile name="ABC_BETA">
      <add key="IS_NZ" value="false"/>
      <add key="SMTP_SERVER" value="mail"/>
      <add key="DB_CONN" value="Data Source=DBServer;Initial Catalog=ABC_BETA;Integrated Security=True"/>
      <add key="VFS_ROOT_URL" value="http://localhost/Abc.OnlineBL.VirtualFileSystemProvider/FileService.asmx"/>
      <add key="IS_NZ" value="false"/>
      <add key="AOP_TEMPLATE_ROOT_DIR" value="\\mercury\Xfer\4 Kenny\AbcOnlinePublication\DocumentsRoot"/>
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Green"/>
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Gray"/>
      <add key="RED_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Red"/>
      <add key="GRAPHICS_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Graphics"/>
      <add key="IMAGING_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Imaging"/>
      <add key="OTHERS_DOCUMENT_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Imaging"/>
      <add key="AOP_IMAGE_OUTPUT_DIR" value="\\mercury\Xfer\4 Kenny\AbcOnlinePublication\DocumentsRoot\CompletedJobs"/>
      <add key="AOP_IMAGE_OUTPUT_DIR_STRUCTURE" value="JobId"/>
      <add key="XML_XPATH_MAPPING_FILE" value="\\mercury\Xfer\4 Kenny\Configuration\InDesignHelper\Config\Mapping.xml"/>
      <add key="XML_ORDER_DIR_IS_STRUCTURED" value="false"/>
      <add key="XML_ORDER_DIR" value="\\mercury\Xfer\4 Kenny\AbcOrderFiles\xml"/>
      <add key="AOP_DOC_OUTPUT_DIR" value="\\mercury\Xfer\4 Kenny\AbcOnlinePublication\DocumentsRoot\CompletedJobs"/>
      <add key="AOP_DOC_OUTPUT_DIR_STRUCTURE" value="JobId"/>
      <add key="APPROVED_DOC_DIR" value="\\mercury\Xfer\4 Kenny\AbcOnlinePublication\DocumentsRoot\Layout"/>
      <add key="APPROVED_DOC_DIR_STRUCTURE" value="Hundred"/>
      <add key="PROOF_DIR" value="\\mercury\xfer\4 Kenny\AutoPsXp\Output"/>
      <add key="PROOF_DIR_STRUCTURE" value="Flat"/>
      <add key="PROOF_IMAGE_DIR" value="\\mercury\xfer\4 Kenny\AutoPsXp\JpgOutput"/>
      <add key="GOOGLE_KEY" value="ABQIAAAAi5S6yrBjAPkM6_J34pL0pxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSWByHiEODPu9TMpDtK6UL4932wAw"/>
      <add key="ONLINE_ORDER_EMAIL_INCLUDE" value="\\mercury\ABCFiles\OnlineOrder\IncludeFiles\OnlineOrderEmailIncludeAU.html"/>
      <add key="SPOT_ORDER_FILE_DIR" value="\\mercury\Xfer\4 Kenny\AbcOrderFiles"/>
      <add key="SMS_ON_DEMAND_PRODUCT_ID" value="1891"/>
      <add key="MMS_ON_DEMAND_PRODUCT_ID" value="1891"/>
      <add key="STOCK_BOARD_SMS_ON_DEMAND_PRODUCT_ID" value="0"/>
      <add key="STOCK_BOARD_MMS_ON_DEMAND_PRODUCT_ID" value="0"/>
      <add key="ERECTION_FEE_PRODUCT_ID" value="1534"/>
      <add key="ERECTION_FEE_AMOUNT" value="80"/>
      <add key="INDD_TEMPLATES_DIR" value="\\mercury\xfer\4 Kenny\Templates"/>
      <add key="ORDER_FILE_DIR" value="\\mercury\Xfer\4 Kenny\AbcOrderFiles"/>
      <add key="PROOF_WEB_SITE_URL" value="http://localhost/Proofs/ViewProof.aspx"/>
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO TEXT - GREEN"/>
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO TEXT - GREY"/>
      <add key="RED_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING"/>
      <add key="UPLOAD_TEXT_DETAILS_DIR" value="\\mercury\Xfer\4 Kenny\AbcOrderFiles\Text"/>
      <add key="SEND_PHOTO_ORDER_TO" value="webdesign@photosigns.com.au"/>
      <add key="SEND_STOCKBOARD_ORDER_TO" value="webdesign@photosigns.com.au"/>
      <add key="PRODUCT_FILES_DIR_TEMP" value="\\mercury\xfer\4 Kenny\Uploaded Images\TempImages"/>
      <add key="PRODUCT_FILES_DIR" value="\\mercury\xfer\4 Kenny\Uploaded Images\TempImages"/>
      <add key="PRODUCT_GROUP_FILES_DIR_TEMP" value="\\mercury\xfer\4 Kenny\Uploaded Images\TempGroupImages"/>
      <add key="PRODUCT_GROUP_FILES_DIR" value="\\mercury\xfer\4 Kenny\Uploaded Images\TempGroupImages"/>
      <add key="AOP_WORKING_DIR" value="\\mercury\Xfer\4 Kenny\DIY"/>
      <add key="PHOTO_DIR" value="\\mercury\AbcFiles\WebPhoto\"/>
      <add key="PICKING_SLIP_SORT_DIR" value="\\mercury\xfer\4 Kenny\PickingSlip"/>
      <add key="INSTALLATION_FILE_PATH" value="\\mercury\xfer\4 Kenny\InstallationFile"/>
      <add key="PHOTOGRAPHY_UPLOAD_FILE_PATH" value="\\mercury\xfer\4 Kenny\PhotographyFile"/>
      <add key="INSTRUCTION_UPLOAD_FILE_PATH" value="\\mercury\xfer\4 Kenny\InstructionFile"/>
      <add key="ARTWORK_PDF_UPLOAD_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Artworks\Artwork"/>
      <add key="GST" value="1.1"/>
      <add key="EMAIL_NOTIFICATION_FROM" value="notifications@photosigns.com.au"/>
      <add key="AOP_WORKING_DIR_MODIFY_ORDER" value="\\mercury\Xfer\4 Kenny\DIY\MODIFY"/>
      <add key="AOP_WORKING_DIR_MODIFY_ORDER_COMPLETED" value="\\mercury\Xfer\4 Kenny\DIY\CompletedJobs"/>
      <add key="SOLAR_PANEL_PRODUCT_ID" value="19743"/>
      <add key="UPGRADE_PRODUCT_ID" value="20015"/>
      <!---Dusk Photography Product-->
      <add key="DUSK_OVERLAY_PRODUCT_ID" value="20053"/>
      <add key="DUSK_OVERLAY_PRODUCT_PRICE" value="95"/>
      <!---Drone Photography Product-->
      <add key="DRONE_PHOTOGRAPHY_PRODUCT_ID" value="1334"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_ID" value="20055"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_NAME" value="Add overlay to 1 image ($50)"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_PRICE" value="50"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_ID" value="20056"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_NAME" value="Add overlay to 2 images ($90)"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_PRICE" value="90"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_ID" value="20057"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_NAME" value="Add overlay to 3 images ($120)"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_PRICE" value="120"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_ID" value="20058"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_NAME" value="Add overlay to 4 images ($150)"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_PRICE" value="150"/>
      <add key="DRONE_PHOTOGRAPHY_CHIEF_PILOT_ID" value="19"/>
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_ID" value="781"/>
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_PRICE" value="75"/>
      <add key="SITEPLAN_OVERLAY_PHOTOGRAPHY_PRODUCT_ID" value="1554"/>
      <add key="PLATINUM_PHOTOGRAPHER_ID" value="19"/>
      <add key="SITEPLAN_PRODUCT_IDS" value="781"/>
      <add key="NAMEPLATES_PRODUCT_IDS" value="20059,20060"/>
      <add key="UNITSTICKER_PRODUCT_IDS" value="20063"/>
      <add key="MUDMAP_REDRAW_PRODUCT_IDS" value="781,4634"/>
      <add key="OVERLAY_POINTS_PRODUCT_IDS" value="3595,5437,9097,11860"/>
      <add key="OVERLAY_THREE_ICONS_PRODUCT_IDS" value="11813,11965"/>
      <add key="OVERLAY_INFO_PRODUCT_IDS" value="20064,20038"/>
      <add key="OVERLAY_PROPERTY_ADDRESS_IDS" value="20036"/>
      <add key="INSTALLATION_EXTENSION_STOCK_BOARD_PRODUCT_ID" value="19508"/>
      <add key="INSTALLATION_EXTENSION_TEXT_PHOTO_BOARD_PRODUCT_ID" value="19508"/>
      <add key="VIC_STANDARD_PRODUCT_PRICING_ID" value="3"/>
      <add key="ABC_LISTING_DIR" value="\\mercury\abcfiles\FTP\Listings\ABC"/>
      <add key="AUGMENT_PHOTOGRAPHY_PRODUCT_ID" value="20039"/>
      <add key="DESIGN_TEMPLATE_DOCUMENT_DIR" value="\\mercury\xfer\4 Kenny\AbcOnlinePublication\DesignDocuments"/>
      <add key="VIRTUAL_WALK_THROUGH_RENEWAL_PRODUCT_ID" value="16405" />
      <add key="DELIVERY_ZONE_1_PRODUCT_ID" value="20073" />
      <add key="DELIVERY_ZONE_2_PRODUCT_ID" value="20074" />
    </profile>
    <!-- END OF BETA FOR ABC SECTION -->
  </abcSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AISServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBindingConfig" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="03:00:00" openTimeout="03:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="02:00:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpConfig" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" closeTimeout="03:00:00" openTimeout="03:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IFileTransferService" closeTimeout="03:00:00" openTimeout="03:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/TemplateManagerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.ITemplateManagerService" name="ITemplateManagerService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AOPService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IAOPService" name="IAOPService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ClientService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IClientService" name="IClientService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/OrderService.svc" behaviorConfiguration="AISServiceBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IOrderService" name="IOrderService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ProductService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IProductService" name="IProductService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IAccountService" name="IAccountService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/FloorPlanService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IFloorPlanService" name="IFloorPlanService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/TemplateManagerService.svc/basic" binding="basicHttpBinding" bindingConfiguration="basicHttpConfig" contract="Abc.OnlineBL.Service.ITemplateManagerService" name="ITemplateManagerServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AOPService.svc/basic" binding="basicHttpBinding" bindingConfiguration="basicHttpConfig" contract="Abc.OnlineBL.Service.IAOPService" name="IAOPServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ClientService.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IClientService" name="IClientServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/OrderService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IOrderService" name="IOrderServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ProductService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IProductService" name="IProductServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AccountService.svc/basic" binding="basicHttpBinding" bindingConfiguration="basicHttpConfig" contract="Abc.OnlineBL.Service.IAccountService" name="IAccountServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/FloorPlanService.svc/basic" binding="basicHttpBinding" bindingConfiguration="basicHttpConfig" contract="Abc.OnlineBL.Service.IFloorPlanService" name="IFloorPlanServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ProofingService.svc" behaviorConfiguration="AISServiceBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IProofingService" name="IProofingService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ProofingService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IProofingService" name="IProofingServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AccessService.svc" behaviorConfiguration="AISServiceBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IAccessService" name="IAccessService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AccessService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IAccessService" name="IAccessServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/QuoteService.svc" behaviorConfiguration="AISServiceBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IQuoteService" name="IQuoteService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/QuoteService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IQuoteService" name="IQuoteServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ManagerService.svc" behaviorConfiguration="AISServiceBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IManagerService" name="IManagerService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ManagerService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IManagerService" name="IManagerServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/FleetService.svc" behaviorConfiguration="AISServiceBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IFleetService" name="IFleetService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/FleetService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IFleetService" name="IFleetServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/PurchasingService.svc" behaviorConfiguration="AISServiceBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IPurchasingService" name="IPurchasingService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/PurchasingService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.IPurchasingService" name="IPurchasingServicebasic" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/SignShopService.svc" behaviorConfiguration="AISServiceBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.ISignShopService" name="ISignShopService" />
      <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/SignShopService.svc/basic" behaviorConfiguration="AISServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="Abc.OnlineBL.Service.ISignShopService" name="ISignShopServicebasic" />
      
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
