<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="abcSettings" type="Abc.OnlineBL.Utility.Configuration.AbcConfigSectionHandler,Abc.OnlineBL.Utility"/>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>-->
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <abcSettings activeProfile="ABC_BETA" xmlns="http://www.photosigns.com.au/AbcSettings.xsd">
    <!-- SPECIFY ACTIVE  PROFILE NAME HERE (ABC, NZ, ABC_BETA, NZ_BETA) -->
    <!-- COMMON SECTION -->
    <profile name="Common">
      <add key="SMTP_SERVER" value="mail"/>
      <add key="SEND_ERROR_MESSAGE_TO" value="errors@photosigns.com.au"/>
    </profile>
    <!-- END OF COMMON SECTION -->
    <!-- ABC SECTION -->
    <profile name="ABC">
      <add key="IS_NZ" value="false"/>
      <add key="SMTP_SERVER" value="mail"/>
      <add key="DB_CONN" value="Data Source=DbServer;Initial Catalog=ABCDB;Integrated Security=True"/>
      <add key="VFS_ROOT_URL" value="http://localhost/Abc.OnlineBL.VirtualFileSystemProvider/FileService.asmx"/>
      <add key="AOP_TEMPLATE_ROOT_DIR" value="\\diyserver.photosigns.local.au\DocumentsRoot"/>
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\sortingpc\SCANNING\GREEN"/>
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\sortingpc\SCANNING\GREEN"/>
      <add key="RED_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="GRAPHICS_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="IMAGING_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="OTHERS_DOCUMENT_OUTPUT_FOLDER" value="\\mercury\xfer\4 Artroom"/>
      <add key="AOP_IMAGE_OUTPUT_DIR" value="\\mercury\Imaging\Images"/>
      <add key="AOP_IMAGE_OUTPUT_DIR_STRUCTURE" value="Hundred"/>
      <add key="XML_XPATH_MAPPING_FILE" value="\\mercury\Programs\Applications\Configuration\InDesignHelper\Config\Mapping.xml"/>
      <add key="XML_ORDER_DIR_IS_STRUCTURED" value="false"/>
      <add key="XML_ORDER_DIR" value="\\mercury\Int_E_Mail\Orders\xml"/>
      <add key="AOP_DOC_OUTPUT_DIR" value="\\diyserver.photosigns.local.au\DocumentsRoot\CompletedJobs"/>
      <add key="AOP_DOC_OUTPUT_DIR_STRUCTURE" value="JobId"/>
      <add key="APPROVED_DOC_DIR" value="\\mercury\Layout"/>
      <add key="APPROVED_DOC_DIR_STRUCTURE" value="Hundred"/>
      <add key="PROOF_DIR" value="\\mercury\ABCFiles\PDF-Proofs"/>
      <add key="PROOF_DIR_STRUCTURE" value="Flat"/>
      <add key="PROOF_IMAGE_DIR" value="\\mercury\ABCFiles\JPG-Proofs"/>
      <add key="GOOGLE_KEY" value="ABQIAAAAi5S6yrBjAPkM6_J34pL0pxSh2vzl1WFzKu1JySuXycQHqx24fBQA3wLxz8X-N6q33PuH7pjiXp5Qqw"/>
      <add key="ONLINE_ORDER_EMAIL_INCLUDE" value="\\mercury\ABCFiles\OnlineOrder\IncludeFiles\OnlineOrderEmailIncludeAU.html"/>
      <add key="SPOT_ORDER_FILE_DIR" value="\\mercury\AbcFiles\Spotlights"/>
      <add key="SMS_ON_DEMAND_PRODUCT_ID" value="2135"/>
      <add key="MMS_ON_DEMAND_PRODUCT_ID" value="2529"/>
      <add key="STOCK_BOARD_SMS_ON_DEMAND_PRODUCT_ID" value="2551"/>
      <add key="STOCK_BOARD_MMS_ON_DEMAND_PRODUCT_ID" value="2552"/>
      <add key="ERECTION_FEE_PRODUCT_ID" value="1534"/>
      <add key="ERECTION_FEE_AMOUNT" value="70"/>
      <add key="INDD_TEMPLATES_DIR" value="\\mercury\Templates"/>
      <add key="ORDER_FILE_DIR" value="\\mercury\Int_E_Mail\Orders"/>
      <add key="PROOF_WEB_SITE_URL" value="http://www.photosigns.com.au/Proofs/ViewProof.aspx"/>
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO TEXT - GREEN"/>
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO TEXT - GREY"/>
      <add key="RED_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING"/>
      <add key="UPLOAD_TEXT_DETAILS_DIR" value="\\mercury\Text"/>
      <add key="SEND_PHOTO_ORDER_TO" value="reception@photosigns.com.au"/>
      <add key="SEND_STOCKBOARD_ORDER_TO" value="stockboards@photosigns.com.au"/>
      <add key="PRODUCT_FILES_DIR_TEMP" value="\\mercury\ABCFiles\ProductDescriptions\TempProducts"/>
      <add key="PRODUCT_FILES_DIR" value="\\mercury\ABCFiles\ProductDescriptions\Products"/>
      <add key="PRODUCT_GROUP_FILES_DIR_TEMP" value="\\mercury\ABCFiles\ProductDescriptions\TempGroups"/>
      <add key="PRODUCT_GROUP_FILES_DIR" value="\\mercury\ABCFiles\ProductDescriptions\Groups"/>
      <add key="AOP_WORKING_DIR" value="\\mercury\ABCFiles\DIY"/>
      <add key="PHOTO_DIR" value="\\ABC-VEEAM\Photosigns-Images\PhotographyImages\"/>
      <add key="PICKING_SLIP_SORT_DIR" value="\\mercury\Sorting\OneRes"/>
      <add key="INSTALLATION_FILE_PATH" value="\\mercury\Int_E_Mail\InstallationFile"/>
      <add key="PHOTOGRAPHY_UPLOAD_FILE_PATH" value="\\mercury\Int_E_Mail\PhotographyFile"/>
      <add key="INSTRUCTION_UPLOAD_FILE_PATH" value="\\mercury\Int_E_Mail\InstructionFile"/>
      <add key="ARTWORK_PDF_UPLOAD_FOLDER" value="\\mercury\Layout\Artwork"/>
      <add key="GST" value="1.1"/>
      <add key="EMAIL_NOTIFICATION_FROM" value="notifications@photosigns.com.au"/>
      <add key="AOP_WORKING_DIR_MODIFY_ORDER" value="\\mercury\ABCFiles\DIY\MODIFY"/>
      <add key="AOP_WORKING_DIR_MODIFY_ORDER_COMPLETED" value="\\mercury\ABCFiles\DIY\CompletedJobs"/>
      <add key="SOLAR_PANEL_PRODUCT_ID" value="9065"/>
      <add key="UPGRADE_PRODUCT_ID" value="7398"/>
      <!---Dusk Photography Product-->
      <add key="DUSK_OVERLAY_PRODUCT_ID" value="9351"/>
      <add key="DUSK_OVERLAY_PRODUCT_PRICE" value="95"/>
      <!---Drone Photography Product-->
      <add key="DRONE_PHOTOGRAPHY_PRODUCT_ID" value="9797"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_ID" value="9798"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_NAME" value="Add overlay to 1 image ($50)"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_PRICE" value="50"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_ID" value="9799"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_NAME" value="Add overlay to 2 images ($90)"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_PRICE" value="90"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_ID" value="9800"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_NAME" value="Add overlay to 3 images ($120)"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_PRICE" value="120"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_ID" value="9801"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_NAME" value="Add overlay to 4 images ($150)"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_PRICE" value="150"/>
      <add key="DRONE_PHOTOGRAPHY_CHIEF_PILOT_ID" value="106"/>
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_ID" value="781"/>
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_PRICE" value="75"/>
      <add key="SITEPLAN_OVERLAY_PHOTOGRAPHY_PRODUCT_ID" value="9862"/>
      <add key="PLATINUM_PHOTOGRAPHER_ID" value="106"/>
      <add key="SITEPLAN_PRODUCT_IDS" value="7878"/>
      <add key="NAMEPLATES_PRODUCT_IDS" value="8191,8198,9311,11840,11861,13677,13740,13741,14703,14702,14705,14704,14760,14761,14764,14765,14834,14851,14852,14908"/>
      <add key="UNITSTICKER_PRODUCT_IDS" value="10224,11838,11963,12235,12235,14025"/>
      <add key="MUDMAP_REDRAW_PRODUCT_IDS" value="7878,4634"/>
      <add key="OVERLAY_POINTS_PRODUCT_IDS" value="3595,5437,9097,11860"/>
      <add key="OVERLAY_THREE_ICONS_PRODUCT_IDS" value="6754,11813,11965"/>
      <add key="OVERLAY_INFO_PRODUCT_IDS" value="3872,3873,9312,12681,14158,14159"/>
      <add key="OVERLAY_PROPERTY_ADDRESS_IDS" value="12663"/>
      <add key="INSTALLATION_EXTENSION_STOCK_BOARD_PRODUCT_ID" value="12175"/>
      <add key="INSTALLATION_EXTENSION_TEXT_PHOTO_BOARD_PRODUCT_ID" value="12176"/>
      <add key="VIC_STANDARD_PRODUCT_PRICING_ID" value="119"/>
      <add key="ABC_LISTING_DIR" value="\\mercury\abcfiles\FTP\Listings\ABC"/>
      <add key="AUGMENT_PHOTOGRAPHY_PRODUCT_ID" value="14603"/>
      <add key="DESIGN_TEMPLATE_DOCUMENT_DIR" value="\\diyserver.photosigns.local.au\DesignDocuments"/>
      <add key="VIRTUAL_WALK_THROUGH_RENEWAL_PRODUCT_ID" value="16405" />
      <add key="DELIVERY_ZONE_1_PRODUCT_ID" value="15469" />
      <add key="DELIVERY_ZONE_2_PRODUCT_ID" value="18602" />
    </profile>
    <!-- END OF ABC SECTION -->
    <!-- NZ SECTION -->
    <profile name="NZ">
      <add key="IS_NZ" value="true" />
      <add key="SMTP_SERVER" value="mail" />
      <add key="DB_CONN" value="Data Source=nzsql2;Initial Catalog=ABCNZ;Integrated Security=True" />
      <add key="VFS_ROOT_URL" value="http://localhost/Abc.AIS.VirtualFileSystemProvider/FileService.asmx" />
      <add key="AOP_TEMPLATE_ROOT_DIR" value="\\192.168.1.2\AbcNzFiles\DocumentsRootNZ" />
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="RED_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="GRAPHICS_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="IMAGING_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\Email\Art" />
      <add key="OTHERS_DOCUMENT_OUTPUT_FOLDER" value="\\Mercury\AbcNzFiles\Uploads" />
      <add key="AOP_IMAGE_OUTPUT_DIR" value="\\mercury\IND_Imaging\Images" />
      <add key="AOP_IMAGE_OUTPUT_DIR_STRUCTURE" value="Hundred" />
      <add key="XML_XPATH_MAPPING_FILE" value="\\mercury\Programs\Applications\Configuration\InDesignHelper\Config\Mapping.xml" />
      <add key="XML_ORDER_DIR_IS_STRUCTURED" value="false" />
      <add key="XML_ORDER_DIR" value="\\mercury\Text\EMAIL Email TXT\Xml" />
      <add key="AOP_DOC_OUTPUT_DIR" value="\\192.168.1.86\DocumentsRootNZ\CompletedJobs" />
      <add key="AOP_DOC_OUTPUT_DIR_STRUCTURE" value="JobId" />
      <add key="APPROVED_DOC_DIR" value="\\mercury\Layouts" />
      <add key="APPROVED_DOC_DIR_STRUCTURE" value="Hundred" />
      <add key="PROOF_DIR" value="\\192.168.1.74\pdfs\" />
      <add key="PROOF_DIR_STRUCTURE" value="Flat" />
      <add key="PROOF_IMAGE_DIR" value="\\192.168.1.74\pdfs\" />
      <add key="GOOGLE_KEY" value="ABQIAAAAi5S6yrBjAPkM6_J34pL0pxQG8Ixu0z6zeViXmW63J5Zo895CBRRy6VHqBLRafhluRu0cCGYd-OeCXQ" />
      <add key="ONLINE_ORDER_EMAIL_INCLUDE" value="\\mercury\ABCFiles\OnlineOrder\IncludeFiles\OnlineOrderEmailIncludeNZ.html" />
      <add key="SPOT_ORDER_FILE_DIR" value="\\Mercury\AbcNzFiles\Spotlights" />
      <add key="SMS_ON_DEMAND_PRODUCT_ID" value="1693" />
      <add key="MMS_ON_DEMAND_PRODUCT_ID" value="1693" />
      <add key="STOCK_BOARD_SMS_ON_DEMAND_PRODUCT_ID" value="0" />
      <add key="STOCK_BOARD_MMS_ON_DEMAND_PRODUCT_ID" value="0" />
      <add key="ERECTION_FEE_PRODUCT_ID" value="1220" />
      <add key="ERECTION_FEE_AMOUNT" value="70" />
      <add key="INDD_TEMPLATES_DIR" value="" />
      <add key="ORDER_FILE_DIR" value="\\mercury\Text\EMAIL Email TXT\" />
      <add key="PROOF_WEB_SITE_URL" value="http://116.199.210.114/Proofs/ViewProof.aspx" />
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING" />
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING" />
      <add key="RED_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING" />
      <add key="UPLOAD_TEXT_DETAILS_DIR" value="\\Mercury\ABCNZFiles\Text" />
      <add key="SEND_PHOTO_ORDER_TO" value="abc@photosigns.co.nz" />
      <add key="SEND_STOCKBOARD_ORDER_TO" value="abc@photosigns.co.nz" />
      <add key="PRODUCT_FILES_DIR_TEMP" value="\\mercury\Transfer\4 Kenny\Uploaded Images\TempImages" />
      <add key="PRODUCT_FILES_DIR" value="\\mercury\Transfer\4 Kenny\Uploaded Images\TempImages" />
      <add key="PRODUCT_GROUP_FILES_DIR_TEMP" value="\\mercury\Transfer\4 Kenny\Uploaded Images\TempGroupImages" />
      <add key="PRODUCT_GROUP_FILES_DIR" value="\\mercury\Transfer\4 Kenny\Uploaded Images\TempGroupImages" />
      <add key="AOP_WORKING_DIR" value="\\Mercury\ABCNZFiles\NZDIY" />
      <add key="PHOTO_DIR" value="\\mercury\Transfer\PhotographyImages\" />
      <add key="PICKING_SLIP_SORT_DIR" value="\\Mercury\Sorting\OneRes" />
      <add key="INSTALLATION_FILE_PATH" value="\\Mercury\ABCNZFiles\InstallationFile" />
      <add key="PHOTOGRAPHY_UPLOAD_FILE_PATH" value="\\mercury\Int_E_Mail\PhotographyFile" />
      <add key="INSTRUCTION_UPLOAD_FILE_PATH" value="\\mercury\Int_E_Mail\InstructionFile" />
      <add key="ARTWORK_PDF_UPLOAD_FOLDER" value="\\mercury\Layouts\Artwork" />
      <add key="GST" value="1.15" />
      <add key="EMAIL_NOTIFICATION_FROM" value="notifications@photosigns.co.nz" />
      <add key="AOP_WORKING_DIR_MODIFY_ORDER" value="\\mercury\Transfer\DIY\MODIFY" />
      <add key="AOP_WORKING_DIR_MODIFY_ORDER_COMPLETED" value="\\mercury\Transfer\DIY\CompletedJobs" />
      <add key="SOLAR_PANEL_PRODUCT_ID" value="19743" />
      <add key="UPGRADE_PRODUCT_ID" value="7398" />
      <!---Dusk Photography Product-->
      <add key="DUSK_OVERLAY_PRODUCT_ID" value="935100" />
      <add key="DUSK_OVERLAY_PRODUCT_PRICE" value="95" />
      <!---Drone Photography Product-->
      <add key="DRONE_PHOTOGRAPHY_PRODUCT_ID" value="979700" />
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_ID" value="979800" />
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_NAME" value="Add overlay to 1 image ($50)" />
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_PRICE" value="50" />
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_ID" value="979900" />
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_NAME" value="Add overlay to 2 images ($90)" />
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_PRICE" value="90" />
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_ID" value="980000" />
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_NAME" value="Add overlay to 3 images ($120)" />
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_PRICE" value="120" />
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_ID" value="980100" />
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_NAME" value="Add overlay to 4 images ($150)" />
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_PRICE" value="150" />
      <add key="DRONE_PHOTOGRAPHY_CHIEF_PILOT_ID" value="10600" />
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_ID" value="78100" />
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_PRICE" value="75" />
      <add key="SITEPLAN_OVERLAY_PHOTOGRAPHY_PRODUCT_ID" value="986200" />
      <add key="PLATINUM_PHOTOGRAPHER_ID" value="10600" />
      <add key="SITEPLAN_PRODUCT_IDS" value="787800"/>
      <add key="NAMEPLATES_PRODUCT_IDS" value ="819100"/>
      <add key="UNITSTICKER_PRODUCT_IDS" value ="1022400"/>
      <add key="MUDMAP_REDRAW_PRODUCT_IDS" value ="787800"/>
      <add key="OVERLAY_POINTS_PRODUCT_IDS" value ="359500"/>
      <add key="OVERLAY_THREE_ICONS_PRODUCT_IDS" value ="675400"/>
      <add key="OVERLAY_INFO_PRODUCT_IDS" value ="387200"/>
      <add key="OVERLAY_PROPERTY_ADDRESS_IDS" value ="1266300"/>
      <add key="INSTALLATION_EXTENSION_STOCK_BOARD_PRODUCT_ID" value ="1217500"/>
      <add key="INSTALLATION_EXTENSION_TEXT_PHOTO_BOARD_PRODUCT_ID" value ="1217600"/>
      <add key="VIC_STANDARD_PRODUCT_PRICING_ID" value ="11900"/>
      <add key="ABC_LISTING_DIR" value="\\mercury\abcfiles\FTP\Listings\ABC" />
      <add key="AUGMENT_PHOTOGRAPHY_PRODUCT_ID" value="1460300" />
      <add key="VIRTUAL_WALK_THROUGH_RENEWAL_PRODUCT_ID" value="1640500" />
    </profile>
    <!-- END OF NZ SECTION -->
    <!-- BETA FOR ABC SECTION -->
    <profile name="ABC_BETA">
      <add key="IS_NZ" value="false"/>
      <add key="SMTP_SERVER" value="mail"/>
      <add key="DB_CONN" value="Data Source=DBServer;Initial Catalog=ABC_BETA;Integrated Security=True"/>
      <add key="VFS_ROOT_URL" value="http://localhost/Abc.OnlineBL.VirtualFileSystemProvider/FileService.asmx"/>
      <add key="IS_NZ" value="false"/>
      <add key="AOP_TEMPLATE_ROOT_DIR" value="\\mercury\Xfer\4 Kenny\AbcOnlinePublication\DocumentsRoot"/>
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Green"/>
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Gray"/>
      <add key="RED_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Red"/>
      <add key="GRAPHICS_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Graphics"/>
      <add key="IMAGING_PROPERTY_PHOTO_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Imaging"/>
      <add key="OTHERS_DOCUMENT_OUTPUT_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Images\Imaging"/>
      <add key="AOP_IMAGE_OUTPUT_DIR" value="\\mercury\Xfer\4 Kenny\AbcOnlinePublication\DocumentsRoot\CompletedJobs"/>
      <add key="AOP_IMAGE_OUTPUT_DIR_STRUCTURE" value="JobId"/>
      <add key="XML_XPATH_MAPPING_FILE" value="\\mercury\Xfer\4 Kenny\Configuration\InDesignHelper\Config\Mapping.xml"/>
      <add key="XML_ORDER_DIR_IS_STRUCTURED" value="false"/>
      <add key="XML_ORDER_DIR" value="\\mercury\Xfer\4 Kenny\AbcOrderFiles\xml"/>
      <add key="AOP_DOC_OUTPUT_DIR" value="\\mercury\Xfer\4 Kenny\AbcOnlinePublication\DocumentsRoot\CompletedJobs"/>
      <add key="AOP_DOC_OUTPUT_DIR_STRUCTURE" value="JobId"/>
      <add key="APPROVED_DOC_DIR" value="\\mercury\Xfer\4 Kenny\AbcOnlinePublication\DocumentsRoot\Layout"/>
      <add key="APPROVED_DOC_DIR_STRUCTURE" value="Hundred"/>
      <add key="PROOF_DIR" value="\\mercury\xfer\4 Kenny\AutoPsXp\Output"/>
      <add key="PROOF_DIR_STRUCTURE" value="Flat"/>
      <add key="PROOF_IMAGE_DIR" value="\\mercury\xfer\4 Kenny\AutoPsXp\JpgOutput"/>
      <add key="GOOGLE_KEY" value="ABQIAAAAi5S6yrBjAPkM6_J34pL0pxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSWByHiEODPu9TMpDtK6UL4932wAw"/>
      <add key="ONLINE_ORDER_EMAIL_INCLUDE" value="\\mercury\ABCFiles\OnlineOrder\IncludeFiles\OnlineOrderEmailIncludeAU.html"/>
      <add key="SPOT_ORDER_FILE_DIR" value="\\mercury\Xfer\4 Kenny\AbcOrderFiles"/>
      <add key="SMS_ON_DEMAND_PRODUCT_ID" value="1891"/>
      <add key="MMS_ON_DEMAND_PRODUCT_ID" value="1891"/>
      <add key="STOCK_BOARD_SMS_ON_DEMAND_PRODUCT_ID" value="0"/>
      <add key="STOCK_BOARD_MMS_ON_DEMAND_PRODUCT_ID" value="0"/>
      <add key="ERECTION_FEE_PRODUCT_ID" value="1534"/>
      <add key="ERECTION_FEE_AMOUNT" value="80"/>
      <add key="INDD_TEMPLATES_DIR" value="\\mercury\xfer\4 Kenny\Templates"/>
      <add key="ORDER_FILE_DIR" value="\\mercury\Xfer\4 Kenny\AbcOrderFiles"/>
      <add key="PROOF_WEB_SITE_URL" value="http://localhost/Proofs/ViewProof.aspx"/>
      <add key="GREEN_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO TEXT - GREEN"/>
      <add key="GRAY_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO TEXT - GREY"/>
      <add key="RED_PROPERTY_PHOTO_OUTPUT_MESSAGE" value="SEND TO IMAGING"/>
      <add key="UPLOAD_TEXT_DETAILS_DIR" value="\\mercury\Xfer\4 Kenny\AbcOrderFiles\Text"/>
      <add key="SEND_PHOTO_ORDER_TO" value="webdesign@photosigns.com.au"/>
      <add key="SEND_STOCKBOARD_ORDER_TO" value="webdesign@photosigns.com.au"/>
      <add key="PRODUCT_FILES_DIR_TEMP" value="\\mercury\xfer\4 Kenny\Uploaded Images\TempImages"/>
      <add key="PRODUCT_FILES_DIR" value="\\mercury\xfer\4 Kenny\Uploaded Images\TempImages"/>
      <add key="PRODUCT_GROUP_FILES_DIR_TEMP" value="\\mercury\xfer\4 Kenny\Uploaded Images\TempGroupImages"/>
      <add key="PRODUCT_GROUP_FILES_DIR" value="\\mercury\xfer\4 Kenny\Uploaded Images\TempGroupImages"/>
      <add key="AOP_WORKING_DIR" value="\\mercury\Xfer\4 Kenny\DIY"/>
      <add key="PHOTO_DIR" value="\\mercury\AbcFiles\WebPhoto\"/>
      <add key="PICKING_SLIP_SORT_DIR" value="\\mercury\xfer\4 Kenny\PickingSlip"/>
      <add key="INSTALLATION_FILE_PATH" value="\\mercury\xfer\4 Kenny\InstallationFile"/>
      <add key="PHOTOGRAPHY_UPLOAD_FILE_PATH" value="\\mercury\xfer\4 Kenny\PhotographyFile"/>
      <add key="INSTRUCTION_UPLOAD_FILE_PATH" value="\\mercury\xfer\4 Kenny\InstructionFile"/>
      <add key="ARTWORK_PDF_UPLOAD_FOLDER" value="\\mercury\xfer\4 Kenny\Uploaded Artworks\Artwork"/>
      <add key="GST" value="1.1"/>
      <add key="EMAIL_NOTIFICATION_FROM" value="notifications@photosigns.com.au"/>
      <add key="AOP_WORKING_DIR_MODIFY_ORDER" value="\\mercury\Xfer\4 Kenny\DIY\MODIFY"/>
      <add key="AOP_WORKING_DIR_MODIFY_ORDER_COMPLETED" value="\\mercury\Xfer\4 Kenny\DIY\CompletedJobs"/>
      <add key="SOLAR_PANEL_PRODUCT_ID" value="19743"/>
      <add key="UPGRADE_PRODUCT_ID" value="20015"/>
      <!---Dusk Photography Product-->
      <add key="DUSK_OVERLAY_PRODUCT_ID" value="20053"/>
      <add key="DUSK_OVERLAY_PRODUCT_PRICE" value="95"/>
      <!---Drone Photography Product-->
      <add key="DRONE_PHOTOGRAPHY_PRODUCT_ID" value="1334"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_ID" value="20055"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_NAME" value="Add overlay to 1 image ($50)"/>
      <add key="DRONE_PHOTOGRAPHY_1OVERLAY_PRODUCT_PRICE" value="50"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_ID" value="20056"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_NAME" value="Add overlay to 2 images ($90)"/>
      <add key="DRONE_PHOTOGRAPHY_2OVERLAY_PRODUCT_PRICE" value="90"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_ID" value="20057"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_NAME" value="Add overlay to 3 images ($120)"/>
      <add key="DRONE_PHOTOGRAPHY_3OVERLAY_PRODUCT_PRICE" value="120"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_ID" value="20058"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_NAME" value="Add overlay to 4 images ($150)"/>
      <add key="DRONE_PHOTOGRAPHY_4OVERLAY_PRODUCT_PRICE" value="150"/>
      <add key="DRONE_PHOTOGRAPHY_CHIEF_PILOT_ID" value="19"/>
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_ID" value="781"/>
      <add key="DRONE_PHOTOGRAPHY_SITEPLAN_PRODUCT_PRICE" value="75"/>
      <add key="SITEPLAN_OVERLAY_PHOTOGRAPHY_PRODUCT_ID" value="1554"/>
      <add key="PLATINUM_PHOTOGRAPHER_ID" value="19"/>
      <add key="SITEPLAN_PRODUCT_IDS" value="781"/>
      <add key="NAMEPLATES_PRODUCT_IDS" value="20059,20060"/>
      <add key="UNITSTICKER_PRODUCT_IDS" value="20063"/>
      <add key="MUDMAP_REDRAW_PRODUCT_IDS" value="781,4634"/>
      <add key="OVERLAY_POINTS_PRODUCT_IDS" value="3595,5437,9097,11860"/>
      <add key="OVERLAY_THREE_ICONS_PRODUCT_IDS" value="11813,11965"/>
      <add key="OVERLAY_INFO_PRODUCT_IDS" value="20064,20038"/>
      <add key="OVERLAY_PROPERTY_ADDRESS_IDS" value="20036"/>
      <add key="INSTALLATION_EXTENSION_STOCK_BOARD_PRODUCT_ID" value="19508"/>
      <add key="INSTALLATION_EXTENSION_TEXT_PHOTO_BOARD_PRODUCT_ID" value="19508"/>
      <add key="VIC_STANDARD_PRODUCT_PRICING_ID" value="3"/>
      <add key="ABC_LISTING_DIR" value="\\mercury\abcfiles\FTP\Listings\ABC"/>
      <add key="AUGMENT_PHOTOGRAPHY_PRODUCT_ID" value="20039"/>
      <add key="DESIGN_TEMPLATE_DOCUMENT_DIR" value="\\mercury\xfer\4 Kenny\AbcOnlinePublication\DesignDocuments"/>
      <add key="VIRTUAL_WALK_THROUGH_RENEWAL_PRODUCT_ID" value="16405" />
      <add key="DELIVERY_ZONE_1_PRODUCT_ID" value="20073" />
      <add key="DELIVERY_ZONE_2_PRODUCT_ID" value="20074" />
    </profile>
    <!-- END OF BETA FOR ABC SECTION -->
  </abcSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Projects\OnlineBL\Abc.OnlineBL.Solution\Abc.OnlineBL.Service.Host\Logs\svclog.xml"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="OnlineBLServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="30" maxConcurrentSessions="30"
            maxConcurrentInstances="30" />
        </behavior>
        <behavior name="Abc.OnlineBL.Service.Host.FloorPlanServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Abc.OnlineBL.Service.Host.PhotoSysRunSheetServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.ClientService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IClientService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IClientService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.TemplateManagerService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.ITemplateManagerService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.ITemplateManagerService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.ProductService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IProductService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IProductService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.OrderService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IOrderService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IOrderService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.AOPService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IAOPService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IAOPService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.WorkflowService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IWorkflowService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IWorkflowService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.AccountService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IAccountService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IAccountService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.PhotoSysRunSheetService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IPhotoSysRunSheetService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IPhotoSysRunSheetService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.FloorPlanService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IFloorPlanService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IFloorPlanService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.ManagerService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IManagerService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IManagerService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="OnlineBLServiceBehavior" name="Abc.OnlineBL.Service.Implementation.DesignService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IDesignService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Abc.OnlineBL.Service.IDesignService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBindingConfig" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="03:00:00" sendTimeout="00:03:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <!--<security mode="None" />-->
          <readerQuotas maxDepth="90000" maxStringContentLength="2097152" maxArrayLength="6553600" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
          <readerQuotas maxDepth="90000" maxStringContentLength="2097152" maxArrayLength="6553600" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>