<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>


	<configSections>
		<section name="abcSettings" type="Abc.AIS.Utility.Configuration.AbcConfigSectionHandler,Abc.AIS.Utility"/>
	</configSections>


	<appSettings/>
	<connectionStrings/>

	<abcSettings activeProfile="NZ" xmlns="http://www.photosigns.com.au/AbcSettings.xsd">
		<!-- SPECIFY ACTIVE  PROFILE NAME HERE (ABC, NZ, ABC_BETA, NZ_BETA) -->
		<!-- COMMON SECTION -->
		<profile name="Common">
			<add key="SMTP_SERVER" value="mail"/>
			<add key="SEND_ERROR_MESSAGE_TO" value="errors@photosigns.com.au"/>
		</profile>
		<!-- END OF COMMON SECTION -->
		<!-- ABC SECTION -->
		<profile name="ABC">
			<add key="SMTP_SERVER" value="mail"/>
			<add key="DB_CONN" value="Data Source=DbServer;Initial Catalog=ABCDB;Integrated Security=True"/>
			<add key="VFS_ROOT_URL" value="http://localhost/Abc.AIS.VirtualFileSystemProvider/"/>
			<add key="AOP_TEMPLATE_ROOT_DIR" value="\\aopserver1\DocumentsRoot"/>
			<add key="IS_NZ" value="false"/>
		</profile>
		<!-- END OF ABC SECTION -->
		<!-- NZ SECTION -->
		<profile name="NZ">
			<add key="SMTP_SERVER" value="mail"/>
			<add key="DB_CONN" value="Data Source=SQLCLNZ2008\NZ;Initial Catalog=ABCNZ;Integrated Security=True"/>
			<add key="VFS_ROOT_URL" value="http://192.168.1.1:980/Abc.AIS.VirtualFileSystemProvider/FileService.asmx"/>
			<add key="AOP_TEMPLATE_ROOT_DIR" value="\\192.168.1.4\DocumentsRootNZ"/>
			<add key="IS_NZ" value="true"/>
		</profile>
		<!-- END OF NZ SECTION -->
		<!-- BETA FOR ABC SECTION -->
		<profile name="ABC_BETA">
			<add key="SMTP_SERVER" value="mail"/>
			<add key="DB_CONN" value="Data Source=DbServer;Initial Catalog=ABC_BETA;Integrated Security=True"/>
			<add key="VFS_ROOT_URL" value="http://localhost/Abc.AIS.VirtualFileSystemProvider/"/>
			<add key="AOP_TEMPLATE_ROOT_DIR" value="\\FileGateway\Xfer\4 Ha\AbcOnlinePublication\DocumentsRoot"/>
			<add key="IS_NZ" value="false"/>
		</profile>
		<!-- END OF BETA FOR ABC SECTION -->
	</abcSettings>	
</configuration>
