<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="abcSettings" type="Abc.OnlineBL.Utility.Configuration.AbcConfigSectionHandler,Abc.OnlineBL.Utility"/>
    </configSections>

    <abcSettings activeProfile="ABC_BETA" xmlns="http://www.photosigns.com.au/AbcSettings.xsd">
        <!-- SPECIFY ACTIVE  PROFILE NAME HERE (ABC, NZ, ABC_BETA, NZ_BETA) -->
        <!-- COMMON SECTION -->
        <profile name="Common">
            <add key="SMTP_SERVER" value="mail"/>
            <add key="SEND_ERROR_MESSAGE_TO" value="errors@photosigns.com.au"/>
            <add key="OnlineBL_ROOT_URL" value="http://localhost/Abc.OnlineBL.Service.Host"/>
            <add key="OnlineBL_IMPERSONATE_ENABLED" value="True"/>
            <add key="OnlineBL_IMPERSONATE_USERNAME" value="myabc"/>
            <add key="OnlineBL_IMPERSONATE_PASSWORD" value="wh0am1"/>
        </profile>
        <!-- END OF COMMON SECTION -->

        <!-- BETA FOR ABC SECTION -->
        <profile name="ABC_BETA">
            <add key="SMTP_SERVER" value="mail"/>
            <add key="DB_CONN" value="Data Source=DbServer;Initial Catalog=ABC_BETA;Integrated Security=True"/>
        </profile>
        <!-- END OF BETA FOR ABC SECTION -->
    </abcSettings>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="6553600"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBindingConfig" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="307200" maxArrayLength="163840" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:20:00" enabled="false"/>
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AccountService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IAccountService" name="IAccountService" behaviorConfiguration="NewBehavior">
            </endpoint>
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/FloorPlanService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IFloorPlanService" name="IFloorPlanService" behaviorConfiguration="NewBehavior">
            </endpoint>
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/PhotoSysRunSheetService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IPhotoSysRunSheetService" name="IPhotoSysRunSheetService" behaviorConfiguration="NewBehavior">
            </endpoint>
           
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/TemplateManagerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.ITemplateManagerService" name="ITemplateManagerService" behaviorConfiguration="NewBehavior">
            </endpoint>

            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AOPService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IAOPService" name="IAOPService" behaviorConfiguration="NewBehavior">
            </endpoint>
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ClientService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IClientService" name="IClientService" behaviorConfiguration="NewBehavior">
            </endpoint>
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/WorkflowService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IWorkflowService" name="IWorkflowService" behaviorConfiguration="NewBehavior">
            </endpoint>
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/OrderService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IOrderService" name="IOrderService" behaviorConfiguration="NewBehavior">
            </endpoint>
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ProductService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IProductService" name="IProductService" behaviorConfiguration="NewBehavior">
            </endpoint>
            <endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ManagerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig" contract="Abc.OnlineBL.Service.IManagerService" name="IManagerService" behaviorConfiguration="NewBehavior">
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
