<system.serviceModel>
	<bindings>
		<wsHttpBinding>
			<binding name="WSHttpBindingConfig" maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600">
				<readerQuotas maxDepth="32" maxStringContentLength="307200" maxArrayLength="163840"
				 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				<reliableSession ordered="true" inactivityTimeout="00:20:00" enabled="false" />
				<security mode="Message">
					<transport clientCredentialType="Windows" proxyCredentialType="None"
					 realm="" />
					<message clientCredentialType="Windows" negotiateServiceCredential="true"
					 algorithmSuite="Default" establishSecurityContext="true" />
				</security>
			</binding>				
		</wsHttpBinding>
	</bindings>
	<client>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AccountService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IAccountService" name="IAccountService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/AOPService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IAOPService" name="IAOPService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ClientService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IClientService" name="IClientService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/DesignService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IDesignService" name="IDesignService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/FloorPlanService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IFloorPlanService" name="IFloorPlanService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ManagerService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IManagerService" name="IManagerService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/OrderService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IOrderService" name="IOrderService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/PhotoSysRunSheetService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IPhotoSysRunSheetService" name="IPhotoSysRunSheetService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/ProductService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IProductService" name="IProductService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/TemplateManagerService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.ITemplateManagerService" name="ITemplateManagerService">
		</endpoint>
		<endpoint address="http://localhost/Abc.OnlineBL.Service.Host/WorkflowService.svc"
			binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
			contract="Abc.OnlineBL.Service.IWorkflowService" name="IWorkflowService">
		</endpoint>
	</client>
</system.serviceModel>
